/* Bootstrap CSS */

.navbar {
  background-color: #74cff6 !important;
  /* 使用 !important 覆蓋原有樣式 */
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #070000 !important;
  /* 將導航鏈接和品牌文字設置為白色 */
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #070707;
}

.footer .container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer .row>div {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}