@{
    var currentUserRole = Context.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/yes.png" type="img/123.jpg" />
    <title>@ViewData["Title"] 中華民國心率協會</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Heysundue.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">中華民國心率協會</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Banner">Banner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login2">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Inputuser2">Inputuser2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserList2">UserList2</a>
                        </li>

                        @if(currentUserRole == "Root")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetDate">研討會日期設定</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetDate3">研討會日期設定3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminSettings">系統管理</a>
                            </li>
                        }

                        @if(currentUserRole == "Admin" || currentUserRole == "Root")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminDashboard">管理控制台</a>
                            </li>
                        }

                        @if(currentUserRole == "Member" || currentUserRole == "Admin" || currentUserRole == "Root")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration2">Registration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Joinlist2">Joinlist</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Accessdoor2">Accessdoor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Doorsystem2">Doorsystem</a>
                            </li>
                        }

                        <li><a asp-controller="Articles" asp-action="Create">可連結頁</a></li>
                    </ul>

                    <!-- 新增登出按钮 -->
                    <ul class="navbar-nav">
                        @if(currentUserRole != "Guest")
                        {
                            <li class="nav-item">
                                <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='@Url.Action("Logout", "Home")'">登出</button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div>
                        <h3>這邊可以註記登入者身分</h3>
                        <p>@currentUserRole</p>
                    </div>
                    <div>
                        <h3>學會地址</h3>
                        <p>台北市天龍區天龍路三段888號</p>
                    </div>
                    <div>
                        <h3>連絡電話</h3>
                        <p>0912345678</p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
