<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="~/images/yes.png" type="img/123.jpg" />
    <title>中華民國心率學會</title>

    <link rel="stylesheet" href="~/CSS/main.css">
</head>

<body>

    

    <div class="content">
        <!-- Your content, image, or search list goes here -->
        <img src="./images/123.jpg" alt="heart" class="heart">
        <h2>Welcome to Your Website</h2>
        <p>This is the content area.</p>
    </div>

 
</body>

</html>