<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Index.css">
</head>

<main>
    <div class="content-container">
        <img src="./images/123.jpg" alt="heart" class="heart">
        <h2>Welcome to Your Website</h2>
        <p>This is the content area.</p>
    </div>
</main>

</html>