<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>login</title>
    <link rel="icon" href="~/images/yes.png" type="img/123.jpg" />
    <link rel="stylesheet" href="~/css/main.css">

</head>

<body>

    <div class="header">
        <img src="~/images/demo.png" alt="Logo" class="logo">
        <div class="menu">
            
            <a href="http://127.0.0.1:5500/Login.html" class="menu-item">登入</a>
            <a href="#" class="menu-item">登出</a>
        </div>
    </div>

    <div class
    ="login-container">
        <form>
            <p
                style="color: #121111; font-size: 30px; font-family: Arial,  sans-serif; margin-top: -10px; text-align: center; font-weight: bold;">
                請先進行登入</p><br></br>
            <label for=" username" style="font-size: 20px;font-weight: bold;">Username:</label>
            <input type="text" id="username" name="username" required><br></br>

            <label for="password" style="font-size: 20px;font-weight: bold;">Password:</label>
            <input type="password" id="password" name="password" required><br></br>

        <div class="login-login">    
            <button type="submit" style="font-size: 20px; font-weight: bold; text-align: center; ">Login</button>
        </div>
            <p
                style="color: rgb(38, 82, 8); font-size: 20px; font-family: 'Arial', sans-serif; margin-top: 30px; text-align: center;">
                Forgot your password?
            </p>
        </form>
    </div>

    <div class="footer">
        <div class="footer-section">
            <h3>這邊可以註記登入者身分</h3>
            <p>test@gmail.com</p>
        </div>
        <div class="footer-section">
            <h3>學會地址</h3>
            <p>台北市天龍區天龍路三段888號</p>
        </div>
        <div class="footer-section">
            <h3>連絡電話</h3>
            <p>0912345678</p>
        </div>
    </div>
</body>

</html>