<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>login</title>
    <link rel="icon" href="~/images/yes.png" type="img/123.jpg" />
    <link rel="stylesheet" href="~/css/main.css">

</head>

<body>

    <div>
        <form>
            <p
                style="color: #121111; font-size: 30px; font-family: Arial,  sans-serif; margin-top: -10px; text-align: center; font-weight: bold;">
                請先進行登入</p><br></br>
            <label for=" username" style="font-size: 20px;font-weight: bold;">惜福該減肥:</label>
            <input type="text" id="username" name="username" required><br></br>

            <label for="password" style="font-size: 20px;font-weight: bold;">Password:</label>
            <input type="password" id="password" name="password" required><br></br>

            <div class="login-login">
                <button type="submit" style="font-size: 20px; font-weight: bold; text-align: center; ">Login</button>
            </div>
            <p
                style="color: rgb(38, 82, 8); font-size: 20px; font-family: 'Arial', sans-serif; margin-top: 30px; text-align: center;">
                Forgot your password?
            </p>
        </form>
    </div>


</body>

</html>