main {
    flex: 1; /* 使主內容區域填滿剩餘空間 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-container {
    text-align: center;
  }
  
  .heart {
    max-width: 300px;
    height: auto;
    max-height: 400px;
    display: block;
    margin: 0 auto;
  }
  