@import './reset.css';

body {
    background-color: aquamarine;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


.heart {
    width: 70%; /* Adjust the width of the logo as needed */
}

.content {
    text-align: center;
    padding: 20px;
}

.login-container {
    font-family: Arial, sans-serif;
    background-color: #95f6d2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;

}

.login-login {
    font-family: Arial;
    text-align: center;
}

form {
    background-color: #e8ede7;
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

