.body {
    padding-bottom: 100px; /* 留出頁尾的空間 */
}

.table {
    background-color: white;
    border-radius: 8px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
